// Spacing Utilities
@function get-spacing($size) {
  @return map-get($spacing, $size);
}

@mixin spacing($property, $size) {
  #{$property}: get-spacing($size);
}

@mixin padding($size) {
  padding: get-spacing($size);
}

@mixin padding-x($size) {
  padding-left: get-spacing($size);
  padding-right: get-spacing($size);
}

@mixin padding-y($size) {
  padding-top: get-spacing($size);
  padding-bottom: get-spacing($size);
}

@mixin margin($size) {
  margin: get-spacing($size);
}

@mixin margin-x($size) {
  margin-left: get-spacing($size);
  margin-right: get-spacing($size);
}

@mixin margin-y($size) {
  margin-top: get-spacing($size);
  margin-bottom: get-spacing($size);
}
